<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<div class="content">
  <% @rentcars.each do |rentcar| %>

		<div class="detail">
			<div class="addbtn">
	      <%= link_to '♡ 加入蒐藏', add_cart_path(rentcar), method: "post", class: "btn" %>
	    </div>

			<div class="name">
				<p><%= rentcar.name %>
					<span class="star-rating" data-score=<%= @avg_rating %> style="font-size: 20px;	padding-left: 10px;"></span>
					<span style="font-size: 14px"><%= "[ #{@comments.length} 則留言 ]"%></span>
				</p>
			</div>

      <div class="bnb-images">
      	<% if @imgs > 3 %>
	      	<a class="fancybox" rel="group" href="<%= rentcar.images_urls[0] %>">
	      		<div class="lg-img" style="background-image:url(<%= rentcar.images_urls[0] %>)"></div>
	      	</a>
	      	<a class="fancybox" rel="group" href="<%= rentcar.images_urls[1] %>">
		      	<div class="sm-img-1" style="background-image:url(<%= rentcar.images_urls[1] %>)"></div>
		      </a>
		      <a class="fancybox" rel="group" href="<%= rentcar.images_urls[2] %>">
		      	<div class="sm-img-2" style="background-image:url(<%= rentcar.images_urls[2] %>)"></div>
		      </a>
		      <% 0.upto(rentcar.images.count-4) do |i| %>
		      <a class="fancybox" rel="group" href="<%= rentcar.images_urls[i+3] %>">
		      <% end %>
		      	<div class="sm-img-3" style="background-image:url(<%= rentcar.images_urls[3] %>)">
		      		<div class="bnb-image-layer"></div>
		      		<p class="more-images">查看更多</p>
	      		</div>
	      	</a>
	      	
	      <% elsif @imgs == 1 %>
      		<a class="fancybox" rel="group" href="<%= rentcar.images_urls[0] %>">
	      		<div class="lg-imgone" style="background-image:url(<%= rentcar.images_urls[0] %>)"></div>
	      	</a>
	      	
	      <% elsif @imgs == 2 %>
	      	<a class="fancybox" rel="group" href="<%= rentcar.images_urls[0] %>">
	      		<div class="lg-imgtwo" style="background-image:url(<%= rentcar.images_urls[0] %>)"></div>
	      	</a>
	      	<a class="fancybox" rel="group" href="<%= rentcar.images_urls[1] %>">
		      	<div class="sm-img-1two" style="background-image:url(<%= rentcar.images_urls[1] %>)"></div>
		      </a>
		      
		    <% else %>
	      	<a class="fancybox" rel="group" href="<%= rentcar.images_urls[0] %>">
	      		<div class="lg-img" style="background-image:url(<%= rentcar.images_urls[0] %>)"></div>
	      	</a>
	      	<a class="fancybox" rel="group" href="<%= rentcar.images_urls[1] %>">
		      	<div class="sm-img-1" style="background-image:url(<%= rentcar.images_urls[1] %>)"></div>
		      </a>
		      <a class="fancybox" rel="group" href="<%= rentcar.images_urls[2] %>">
		      	<div class="sm-img-2three" style="background-image:url(<%= rentcar.images_urls[2] %>)"></div>
		      </a>
      	<% end %>
      	<div class="clearfix"></div>
      </div>

			<div class="introduce">
				<h2 class="eachProgramTitle">簡介</h2>
				<%= rentcar.description %>
			</div>

			<h2 class="eachProgramTitle">內容</h2>
				<div class="row">
					<div class="col-3"><h5><%=image_tag('monitor.png', size: '20')%> 設備</h5></div>
					<div class="col-3"><h5><%=image_tag('list.png', size: '20')%> 活動類型</h5></div>
					<div class="col-3"><h5><%=image_tag('sale.png', size: '20')%> 優惠活動</h5></div>
					<div class="col-3"><h5><%=image_tag('lock.png', size: '20')%> 額外限制</h5></div>
				</div>
				<div class="row" style="height: 100px">
					<div class="col-3"><%= rentcar.equipment %></div>
					<div class="col-3"><%= rentcar.item %></div>
					<div class="col-3"><%= rentcar.activity %></div>
					<div class="col-3"><%= rentcar.limit %></div>
				</div>

			<h2 class="eachProgramTitle">聯絡資訊</h2>
			<%=image_tag('tel.png', size: '20')%> 電話：  <%= rentcar.tel %></br></br>
			<%=image_tag('mail2.png', size: '20')%> 信箱：  <%= rentcar.email.split('"')[1] %></br></br>
			<%=image_tag('home.png', size: '20')%> 網站：  <%= rentcar.url.split('"')[1] %>

			<h2 class="eachProgramTitle">地理位置
				<span class="pull-right"><%= rentcar.location %></span>
			</h2>
      <div id="map" style="width:100%; height:400px;">地圖預留</div>
		</div>

		<%=render "comments/index" %>

  <% end %>
</div>
<!--------------------TOP------------------------->
<div class="backtotop">
	<a class="top" href="#"> <%= image_tag("top-arrow.png")%></a>
</div>

<%=render "shared/vendormapjs" %>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
