<div class="container mt-5">
  <%= form_tag '/costumes/search' do %>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Region</label>
    <%= select_tag 'region', options_for_select(@regions.collect{ |region| [region.title, region.id] }) %>
    <%= submit_tag "Search" %>
  <% end %>
  <% @costumes.each do |costume| %>
    <div class="row">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 w-100">
          <li class="selected">
            <%= link_to image_tag(ground.images_urls[0], width: '200px',height: '250px'), ground if ground.images.present?%>
          </li>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0 mb-3">
            <a class="text-dark" href="#"><%= costume.name %></a>
          </h3>
          <p class="card-text mb-auto"><%= costume.description %></p>
          <p class="card-text mb-auto">聯絡電話：<%= costume.tel %></p>
          <p class="card-text mb-auto">信箱：<%= costume.email %></p>
          <%= link_to '詳細資訊', costume_path(costume,@costume_id) , class: "btn btn-xs" %>
          <%= link_to '加入蒐藏', add_cart_path(costume), method: "post", class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
