<div class="devise_content">
  <div class="deviseForm">
    <h3 class="devise_title">更改密碼</h3>
    <div class="login">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.label :email, "　信　箱：" %>
          <%= f.email_field :email , placeholder: 'ex: user@gmail.com',required: true, autofocus: true%></p>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.label :password, "　新密碼：" %>
          <%= f.password_field :password , autocomplete: "off", required: false%></p>
          <%= f.label :password_confirmation, "確認密碼：" %>
          <%= f.password_field :password_confirmation,required: false%></p>
          <%= f.label :current_password, "目前密碼：" %>
          <%= f.password_field :current_password ,required: true%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "確定" %>
        </div>
      <% end %>
      <div class="devise_link">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
