<div class="devise_content">
  <h3 class="devise_title">註冊</h3>
  <div class="container">
    <div class="login">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <div class="form-group">
            <%= f.label :email, "　信　箱：" %>
            <%= f.email_field :email , placeholder: 'ex: user@gmail.com',required: true, autofocus: true%>
            <%= f.label :password, "　密　碼：" %>
            <%= f.password_field :password , required: true%>
            <small class="form-text text-muted">※請使用6個字元以上的英文字母、數字和符號</small>
            <%= f.label :password_confirmation, "確認密碼：" %>
            <%= f.password_field :password_confirmation , required: true%>
          </div>
          
        <div class="form-actions">
            <%= f.button :submit, "註冊", class: "btn" %>
        </div>
      <% end %>
      <div class="devise_link">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>