<div class="devise_content">
  <h3 class="devise_title">註冊</h3>
  <div class="container">
    <div class="login">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <div class="form-group">
            <%= f.input :email,  label:'信箱：', placeholder: 'ex: user@gmail.com', required: true, autofocus: true  %>
            <%= f.input :password,  label:'密碼：', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) , class: "form-control", id: "exampleInputPassword1"%>
                <%= f.input :password_confirmation,  label:'確認密碼：', required: true, class: "form-control", id: "exampleInputPassword1" %>
          </div>
        <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="devise_link">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>