<%= simple_form_for [@product_id, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.input :rating%>
    <%= f.file_field :images , multiple: true, name: "comment[images][]"%>
    <%= f.input :content%>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
