<div class="container mt-5">
  <%= form_tag 'equipments/search' do %>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Region</label>
    <%= select_tag 'region', options_for_select(@regions.collect{ |region| [region.title, region.id] }) %>
    <%= submit_tag "Search" %>
  <% end %>
  <% @equipments.each do |equipment| %>
    <div class="row">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 w-100">
        <%= link_to image_tag(equipment.image_url, width: '200px',height: '250px'), equipment if equipment.image.present?%>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0 mb-3">
            <a class="text-dark" href="#"><%= equipment.name %></a>
          </h3>
          <p class="card-text mb-auto"><%= equipment.description %></p>
          <p class="card-text mb-auto">聯絡電話：<%= equipment.tel %></p>
          <p class="card-text mb-auto">信箱：<%= equipment.email %></p>
          <a href="#">Continue reading</a>
          <%= link_to '加入蒐藏', add_cart_path(equipment), method: "post", class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
