</br>
</br>
</br>
</br>
<% @matter.each do |matter| %>
廠商：<%= matter.product.name %></p>
內容：<%= matter.mattertext %></p>
<% end %></p>

<% @matter_form.each do |matter_form| %>
廠商：<%= matter_form.product.name %></p>
  <% case matter_form.product.category.title %>
    <% when "場地" %>
    <div>
      我們是<%= matter_form.school %>，
      將在<%= matter_form.date.to_s.split('UTC').first %>舉辦活動，
      參加人數大約為<%= matter_form.people %>人，
      請問是否能跟您租借場地？
      備註：<%= matter_form.memo %>
    </div></p>
    <% when "食物" %>
    <div>
      我們是<%= matter_form.school %>，
      將在<%= matter_form.date.to_s.split('UTC').first %>舉辦活動，
      地點在<%= matter_form.activity_location %>
      參加人數大約為<%= matter_form.people %>人，
      葷食人數大約為<%= matter_form.vegetarian %>人，
      素食人數大約為<%= matter_form.non_vegetarian %>人，
      <% if matter_form.expect_menu != "無" %>
      必要的菜色有：<%= matter_form.expect_menu %>，
      <% end %>
      預算是<%= matter_form.budget %>元，麻煩請給我們估價單及菜色單，謝謝。
      備註：<%= matter_form.memo %>
    </div></p>
    <% when "租車" %>
      <div>
        我們是<%= matter_form.school %>，
        將在<%= matter_form.date.to_s.split('UTC').first %>舉辦活動，
        地點在<%= matter_form.activity_location %>
        參加人數大約為<%= matter_form.people %>人，
        請問大概要包幾台車以及價格為多少？
        備註：<%= matter_form.memo %>
      </div></p>
    <% when "設備" %>
      <div>
        我們是<%= matter_form.school %>，
        將在<%= matter_form.date.to_s.split('UTC').first %>舉辦活動，
        地點在<%= matter_form.activity_location %>，
        請問能跟您租<%= matter_form.device %>嗎？
        備註：<%= matter_form.memo %>
      </div></p>
    <% when "印刷" %>
      <div>
        我們是<%= matter_form.school %>，
        將在<%= matter_form.date.to_s.split('UTC').first %>舉辦活動，
        我們想要印刷<%= matter_form.size %>件，
        請問價格多少？
        備註：材質為<%= matter_form.material %>，<%= matter_form.memo %>
      </div></p>
    <% when "舞台服" %>
      <div>
        我們是<%= matter_form.school %>，
        將在<%= matter_form.date.to_s.split('UTC').first %>舉辦活動，
        我們想要租借<%= matter_form.material %><%= matter_form.size %>件，
        請問價格多少？
        備註：<%= matter_form.memo %>
      </div></p>
  <% end %>
<% end %></p>
