<div class="devise_content">
  <h3 class="devise_title">忘記密碼?</h3>
  <div class="container">
    <div class="login">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.label :email, "信箱：" %>
        <%= f.text_field :email , required: true, autofocus: true%>
      </div>
      
      <div class="form-actions">
        <%= f.button :submit, "確定",class: "btn" %>
      </div>
      <% end %>
      <div class="devise_link">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


