<nav class="navbar navbar-expand-lg navbar-light navbar_color" style="top: 0px;">
  <a href="#" class="navbar-brand">
    <a class="logo">
      <%= image_tag("logo.png", width: '60', height: '60') %>
      <span class="title">PARTY</span>HELPER</a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "首頁" , root_path , class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "關於我們" , about_home_index_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "找附近" , root_path , class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          找廠商
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "找場地" , grounds_path , class: "dropdown-item" %>
          <%= link_to "找食物" , foods_path , class: "dropdown-item" %>
          <%= link_to "找租車" , rentcars_path , class: "dropdown-item" %>
          <%= link_to "找設備" , equipments_path , class: "dropdown-item" %>
          <%= link_to "找印刷" , custommade_index_path , class: "dropdown-item" %>
          <%= link_to "找舞台服租借" , costumes_path , class: "dropdown-item" %>
        </div>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link ">HI!<%= current_user.email.split('@').first %></a>
      </li>
      <li class="nav-item">
        <%= link_to "我的蒐藏", cart_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "我的帳戶" , edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "登出", destroy_user_session_path, method: :delete , class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "註冊", new_user_registration_path ,class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "登入", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
