<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="bkgrdimg"><%= image_tag("background.jpg") %>
	<div class="dropdownWraper">
		<div class="centerDropdown">
			<div class="dropdown evtType">
				<select>
					<option style="display:none;" disabled="" selected="">活動性質</option>
					<option value="" disabled="" class="disabled">--活動性質--</option>
					<option value="1">會議</option>	
					<option value="2">派對</option>	
					<option value="3">課程講座</option>	
				</select>
			</div>
			<div class="dropdown location">
				<select>
					<option style="display:none;" disabled="" selected="">地點</option>
					<option value="" disabled="" class="disabled">--地點--</option>
					<option value="台北市">台北市</option>	
					<option value="新北市">新北市</option>
				</select>
			</div>
			<div class="dropdown capacity">
				<select>
					<option style="display:none;" disabled="" selected="">活動人數</option>
					<option value="" disabled="" class="disabled">--活動人數--</option>
					<option style="font-family: sans-serif;" value="1.20">1 - 10</option>	
					<option style="font-family: sans-serif;" value="11.30">11 - 20</option>	
				</select>
			</div>
			<input class="keySearch no-width" type="text" name="keywords" placeholder="關鍵字" onfocus="this.placeholder='例如: '台北、小型會議室'; this.style.color = '#000'; " onblur="this.placeholder='例如: 台北, 小型會議室'" style="color: rgb(0, 0, 0);font-family: 'Varela Round', 'cwTeXYen',sans-serif;">
			<button class="greenBtn" type="submit">開始尋找</button>
		</div>
	</div>
</div>
<div class="feature">
  <div class="grid-container">
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
			<%= link_to grounds_path do %>
    		<i class="fa fa-map-marked-alt"></i>
			<% end %>
			<h2>找場地</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
			<%= link_to foods_path do %>
				<i class="fa fa-utensils"></i>
			<% end %>
			<h2>找食物</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" >
			<%= link_to rentcars_path do %>
				<i class="fa fa-bus"></i>
			<% end %>
			<h2>找租車</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" >
			<%= link_to equipments_path do %>
				<i class="fa fa-desktop"></i>
			<% end %>
			<h2>找設備</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
			<%= link_to photography_index_path do %>
				<i class="fa fa-camera"></i>
			<% end %>
		  <h2>找攝影</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
			<%= link_to custommade_index_path do %>
				<i class="fa fa-brush"></i>
			<% end %>
			<h2>找印刷</h2>
	  </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" >
			<%= link_to costumes_path do %>
				<i class="fa fa-tshirt"></i>
			<% end %>
			<h2>舞台服租借</h2>
	  </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" >
			<i class="fa fa-map-marker-alt"></i>
			<h2>找附近</h2>
	  </div>
	</div>
</div>
