<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="bkgrdimg"><%= image_tag("background.jpg") %>
	<div class="dropdownWraper">
		<div class="centerDropdown">
			<%= form_tag '/searches', method: :get do %>
			<div class="dropdown evtType">
				<select name="activity_kind_ids" id="activity_kind_ids">
					<option style="display:none;" disabled="" selected="">活動性質</option>
					<%=  options_for_select(@activity_kinds.collect{ |activity_kind| [activity_kind.title, activity_kind.id] }) %>
				</select>
			</div>

			<div class="dropdown location">
				<select name="region_ids" id="region_ids">
					<option style="display:none;" disabled="" selected="">地點</option>
					<%=  options_for_select(@regions.collect{ |region| [region.title, region.id] }) %>
				</select>
			</div>
			<div class="dropdown capacity">
				<select name="people_number_ids" id="people_number_ids">
					<option style="display:none;" disabled="" selected="">活動人數</option>
					<%=  options_for_select(@people_numbers.collect{ |people_number| [people_number.title, people_number.id] }) %>
				</select>
			</div>
			<input class="keySearch no-width" type="text" name="keywords" placeholder="關鍵字" onfocus="this.placeholder='例如: '大稻埕、小型會議室'; this.style.color = '#000'; " onblur="this.placeholder='例如: 大稻埕, 小型會議室'" style="color: rgb(0, 0, 0);font-family: 'Varela Round', 'cwTeXYen',sans-serif;">
			<%= submit_tag "開始尋找", class:"greenBtn" %>
			<% end %>
		</div>
	</div>
</div>
<div class="feature">
  <div class="grid-container">
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
			<%= link_to grounds_path do %>
    		<i class="fa fa-map-marked-alt"></i>
			<% end %>
			<h2>找場地</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
			<%= link_to foods_path do %>
				<i class="fa fa-utensils"></i>
			<% end %>
			<h2>找食物</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" >
			<%= link_to rentcars_path do %>
				<i class="fa fa-bus"></i>
			<% end %>
			<h2>找租車</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" >
			<%= link_to equipments_path do %>
				<i class="fa fa-desktop"></i>
			<% end %>
			<h2>找設備</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
			<%= link_to custommade_index_path do %>
				<i class="fa fa-brush"></i>
			<% end %>
			<h2>找印刷</h2>
	  </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" >
			<%= link_to costumes_path do %>
				<i class="fa fa-tshirt"></i>
			<% end %>
			<h2>舞台服租借</h2>
	  </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" >
			<%= link_to gmaps_path do %>
			<i class="fa fa-map-marker-alt"></i>
			<% end %>
			<h2>找附近</h2>
	  </div>
	</div>
</div>
