<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="feature">
  <div class="grid-container">
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
			<%= link_to grounds_path do %>
    		<i class="fa fa-map-marked-alt"></i>
			<% end %>
			<h2>找場地</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
			<%= link_to foods_path do %>
				<i class="fa fa-utensils"></i>
			<% end %>
			<h2>找食物</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" >
			<%= link_to rentcars_path do %>
				<i class="fa fa-bus"></i>
			<% end %>
			<h2>找租車</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" >
			<%= link_to equipments_path do %>
				<i class="fa fa-desktop"></i>
			<% end %>
			<h2>找設備</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
			<%= link_to photography_index_path do %>
				<i class="fa fa-camera"></i>
			<% end %>
		  <h2>找攝影</h2>
    </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
			<%= link_to custommade_index_path do %>
				<i class="fa fa-brush"></i>
			<% end %>
			<h2>找印刷</h2>
	  </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" >
			<%= link_to costumes_path do %>
				<i class="fa fa-tshirt"></i>
			<% end %>
			<h2>舞台服租借</h2>
	  </div>
		<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" >
			<i class="fa fa-map-marker-alt"></i>
			<h2>找附近</h2>
	  </div>
	</div>
</div>
