<%= simple_form_for matter_cart_path(@matter_form)  , :url => {:action => :matter_form_send } do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: "聯絡信箱：" %>
    <%= f.input :school, label: "學校/單位：" %>
    <%= f.input :date, label: "活動日期：", as: :datetime, start_year: Date.today.year,
                                                      end_year: Date.today.year + 5, discard_day: true %>
    <%= f.input :people, label: "件數" %>
    <% if @product.count > 1 %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
        <label class="form-check-label" for="Radios1">
          統一備註內容
        </label>
          <%= f.input :memo, label: "備註：" %>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
        <label class="form-check-label" for="Radios2">
          分開備註內容
        </label></p>
        <% @product.each do |product| %>
          給<%= product.name %>的備註內容：
          <input name= <%= product.id %> > </p>
        <% end %>
      </div>
    <% else %>
      <%= f.input :memo, label: "備註：" %>
    <% end %>
    <%= f.file_field :images, multiple: true, name: "#{matter_cart_path(@matter_form)}[images][]"%>
  </div>
  <div class="form-actions">
    <%= f.button :submit,"寄出" %>
    <%= f.button :submit,"預覽" %>
  </div>
<% end %>
