<%= simple_form_for matter_cart_path(@item_id)  , :url => {:action => :matter_form_send } , remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: "聯絡信箱：" , readonly: true, :input_html => { :value => "#{current_user.email}" }%>
    <%= f.input :school, label: "學校/單位：", placeholder: 'ex: 國立臺北商業大學資管系' %>
    <%= f.input :date, label: "活動日期：", as: :datetime, start_year: Date.today.year, end_year: Date.today.year + 5 %>
    <%= f.input :people, label: "預估活動人數：" , placeholder: 'ex: 10、20、30'%>
    <% if @item_id.count > 1 %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Radios" id="FM_Radios1" value="option1" checked>
        <label class="form-check-label" for="Radios1">
          統一備註內容
        </label>
          <%= f.input :memo, label: "備註：" , input_html: {id: "memo"}, placeholder: '若沒有，請填無' %>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Radios" id="FM_Radios2" value="option2">
        <label class="form-check-label" for="Radios2">
          分開備註內容
        </label></p>
        <% @item_id.each do |item_id| %>
          給<%= Product.find(item_id).name %>的備註內容：
          <input name="<%= item_id %>" id="FM_<%= item_id %>" class="form-control string required" disabled /> </p>
        <% end %>
      </div>
    <% else %>
      <%= f.input :memo, label: "備註：", placeholder: '若沒有，請填無' %>
    <% end %>
    <%= f.file_field :images, multiple: true, name: "#{matter_cart_path(@item_id)}[images][]"%>
  </div>
  <div class="form-actions">
    <%= f.button :button,"寄出".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 寄出中..."} , value: "寄出"%>
    <%= f.button :button,"預覽".html_safe, remote: true , 'data-toggle' =>  "FM_modal", 'data-target' => '#FM_modal-window', value: "預覽",data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 預覽中..."} %>
  </div>
<% end %>
