<div class="activitycontent">
  <div class="container">
    <div class="row">
      <div id="searchPageLeftColumn" class="col-sm-12 col-md-4 col-lg-3">
        <div id="joinedFilterList">
          <div class="filter-list filter-list-react filter-list--vertical" data-selenium="filter-list">
            <div class="filters-header-text">
              <div style="display: block;">
                <i class="ficon ficon-filter-icon"></i>
                <p>自訂篩選</p>
              </div>
            </div>
            <div id="filtersContainerReact" class="filtersContainerReact">
              <div>
                <div class="filters-container" data-selenium="filter-container">
                  <ul class="filters-list">
                    <li id="dealsFilterList" class="filter-box filter-box--list dealsFilterList" data-selenium="filter-box">
                      <div class="filter-menu">
                        <span class="list-filter__title">地區</span>
                      </div>
                      <div class="filter-items">
                        <ul class="list-filter__items filter-list-item">
                          <li class="filter-item-react">
                            <span class="filter-item-info" data-element-name="search-filter" data-element-index="0">
                              <span>
                                <input type="checkbox" class="checkbox-icon">
                              </span>
                              <span>
                                <span class="filter-item-content" data-selenium="filter-item-text">北部</span>
                              </span>
                            </span>
                          </li>
                          <li class="filter-item-react">
                            <span class="filter-item-info" data-element-name="search-filter" data-element-index="1">
                              <span>
                                <input type="checkbox" class="checkbox-icon">
                              </span>
                              <span>
                                <span class="filter-item-content" data-selenium="filter-item-text">中部</span>
                              </span>
                            </span>
                          </li>
                          <li class="filter-item-react">
                            <span class="filter-item-info" data-element-name="search-filter" data-element-index="0">
                              <span>
                                <input type="checkbox" class="checkbox-icon">
                              </span>
                              <span>
                                <span class="filter-item-content" data-selenium="filter-item-text">南部</span>
                              </span>
                            </span>
                          </li>
                          <li class="filter-item-react">
                            <span class="filter-item-info" data-element-name="search-filter" data-element-index="0">
                              <span>
                                <input type="checkbox" class="checkbox-icon">
                              </span>
                              <span>
                                <span class="filter-item-content" data-selenium="filter-item-text">東部</span>
                              </span>
                            </span>
                          </li>
                        </ul>
                        <div class="filter-options clearfix"></div>
                      </div>
                    </li>
                    <li id="dealsFilterList" class="filter-box filter-box--list dealsFilterList" data-selenium="filter-box">
                      <div class="filter-menu">
                        <span class="list-filter__title">人數</span>
                      </div>
                      <div class="filter-items">
                        <ul class="list-filter__items filter-list-item">
                          <li class="filter-item-react">
                            <span class="filter-item-info" data-element-name="search-filter" data-element-index="1">
                              <span>
                                <input type="checkbox" class="checkbox-icon">
                              </span>
                              <span>
                                <span class="filter-item-content" data-selenium="filter-item-text">不限</span>
                              </span>
                            </span>
                          </li>
                          <li class="filter-item-react">
                            <span class="filter-item-info" data-element-name="search-filter" data-element-index="0">
                              <span>
                                <input type="checkbox" class="checkbox-icon">
                              </span>
                              <span>
                                <span class="filter-item-content" data-selenium="filter-item-text">1-10</span>
                              </span>
                            </span>
                          </li>
                          <li class="filter-item-react">
                            <span class="filter-item-info" data-element-name="search-filter" data-element-index="1">
                              <span>
                                <input type="checkbox" class="checkbox-icon">
                              </span>
                              <span>
                                <span class="filter-item-content" data-selenium="filter-item-text">11-20</span>
                              </span>
                            </span>
                          </li>
                        </ul>
                        <div class="filter-options clearfix"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="searchPageRightColumn" class="col-sm-12 col-md-8 col-lg-9">
        <%= form_tag '/grounds/search' do %>
          <%= render 'shared/searchregion'%>
          </p>
          <%= render 'shared/searchpeople'%>
          </p>
          <%= render 'shared/searchactivity'%>
        <% end %>

        <% @grounds.each do |ground| %>
            <div class="card flex-md-row mb-3 box-shadow h-md-250 w-100">
              <%= link_to image_tag(ground.image_url, width: '200px',height: '250px'), ground if ground.image.present?%>
              <div class="card-body d-flex flex-column align-items-start">

                <div class="row">
                  <div class="col-6 cardleft">
                    <h3 class="mb-0 mb-3">
                      <a class="text-dark" href="#"><%= ground.name %></a>
                    </h3>
                    <p class="card-text mb-auto">
                      <%= image_tag("house.png", width: '20px',height: '20px')%>
                      <a><%= ground.name %></a>
                    </p>
                    <p class="card-text mb-auto">
                      <%= image_tag("marker.png", width: '20px',height: '20px')%>
                      <a><%= ground.location.split('區').first+'區' %></a>
                    </p>
                    <p class="card-text mb-auto">
                      <%= image_tag("person.png", width: '20px',height: '20px')%>
                    </p>
                  </div>

                  <div class="col-6 cardright">
                    <div class="card-text mb-auto">
                      <a><%= ground.description %></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cardbtn">
                <%= link_to '加入蒐藏', add_cart_path(ground), method: "post", class: "btn" %>
                <%= link_to '詳細資訊', ground_path(ground,@detail) , class: "btn" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
