<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<div class="content">
  <% @grounds.each do |ground| %>

		<div class="detail">
			<div class="addbtn">
	      <%= link_to '♡ 加入蒐藏', add_cart_path(ground), method: "post", class: "btn" %>
	    </div>

			<div class="name">
				<p><%= ground.name %>
					<span class="star-rating" data-score=<%= @avg_rating %> style="font-size: 20px;	padding-left: 10px;"></span>
					<span style="font-size: 14px"><%= "[ #{@comment.length} 則留言 ]"%></span>
				</p>
			</div>
      <div class="bnb-images">

      	<a class="fancybox" rel="group" href="<%= ground.images_urls[0] %>">
      		<div class="lg-img bnb-image" style="background-image:url(<%= ground.images_urls[0] %>)"></div>
      	</a>
      	<a class="fancybox" rel="group" href="<%= ground.images_urls[1] %>">
	      	<div class="bnb-image sm-img-1" style="background-image:url(<%= ground.images_urls[1] %>)"></div>
	      </a>
	      <a class="fancybox" rel="group" href="<%= ground.images_urls[2] %>">
	      	<div class="bnb-image sm-img-2" style="background-image:url(<%= ground.images_urls[2] %>)"></div>
	      </a>
	      <% 0.upto(ground.images.count-4) do |i| %>
	      <a class="fancybox" rel="group" href="<%= ground.images_urls[i+3] %>">
	      <% end %>
	      	<div class="bnb-image sm-img-3" style="background-image:url(<%= ground.images_urls[3] %>)">
	      		<div class="bnb-image-layer"></div>
	      		<p class="more-images">查看更多</p>
      		</div>
      	</a>
      	<div class="clearfix"></div>
      </div>

	<div class="introduce">
		<h2 class="eachProgramTitle">簡介</h2>
		<%= ground.description %>
	</div>

	<h2 class="eachProgramTitle">內容</h2>
		<div class="row">
			<div class="col-3"><h5><%=image_tag('monitor.png', size: '20')%> 設備</h5></div>
			<div class="col-3"><h5><%=image_tag('list.png', size: '20')%> 活動類型</h5></div>
			<div class="col-3"><h5><%=image_tag('sale.png', size: '20')%> 收費相關</h5></div>
			<div class="col-3"><h5><%=image_tag('lock.png', size: '20')%> 額外限制</h5></div>
		</div>
		<div class="row" style="height: 100px">
			<div class="productContent col-3"><%= ground.equipment %></div>
			<div class="productContent col-3"><%= ground.item %></div>
			<div class="productContent col-3">

        <% if ground.budget != ""  %>
        	<b>計價方式</b></br>

        	<% if ground.budget_option == "三小時/一小時(續)/一天" %>
	          <% 0.upto(2) do |i| %>
		        	NT$<%= ground.budget.split(',')[i] %>/<%= ground.budget_option.split('/')[i] %></br>
		        <% end %>
		      <% end %>

          <% if ground.budget_option == "按時段收費" %>
          	<%= ground.budget.split(',')[0] %></br>
          	NT$<%= ground.budget.split(',')[2] %>/<%= ground.budget.split(',')[1] %>小時</br>
						<a class="fancybox" rel="group1" href="<%= ground.budget_images_urls[0] %>">
							<p style="<% ground.budget_images_urls[0] %>">查看預算圖片</p>
			      </a>
          <% end %>

          <% if ground.budget_option == "每小時/每人" %>
	        	每小時/每人
		      	NT$<%= ground.budget %></br>
		      <% end %>

        <% else %>
          無
        <% end %>



			</div>
			<div class="productContent col-3"><%= ground.limit %></div>
		</div>

	<h2 class="eachProgramTitle">聯絡資訊</h2>
	<%=image_tag('tel.png', size: '20')%> 電話：  <%= ground.tel %></br></br>
	<%=image_tag('mail2.png', size: '20')%> 信箱：  <%= ground.email.split('"')[1] %></br></br>
	<%=image_tag('home.png', size: '20')%> 網站：  <%= ground.url.split('"')[1] %>

	<h2 class="eachProgramTitle">地理位置
		<span class="pull-right"><%= ground.location %></span>
	</h2>
      <div id="map" style="width:100%; height:400px">地圖預留</div>
		</div>

		<%=render "comments/index" %>

  <% end %>
</div>
<!--------------------TOP------------------------->
<div class="backtotop">
	<a class="top" href="#"> <%= image_tag("top-arrow.png")%></a>
</div>

<%=render "shared/vendormapjs" %>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
