<div class="card container">
  <% @grounds.each do |ground| %>
    <div class="row">
        <div class="col-3 py-2 pl-5">
            <%= link_to image_tag(ground.image_url, width: '200px',height: '200px'), ground if ground.image.present?%>
        </div>
        <div class="col-9">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0 mb-3">
                <a class="text-dark" href="#"><%= ground.name %></a>
              </h3>
              <p class="card-text mb-auto"><%= ground.description %></p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="flex-md-row mb-4 box-shadow h-md-250 w-100">
            <div class="card-body d-flex flex-column align-items-start">
                <p class="card-text mb-auto">聯絡電話：<%= ground.tel %></p>
                <p class="card-text mb-auto">信箱：<%= ground.email %></p>
                <br/>
                <p>地理位置</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1806.8995086327466!2d121.683066!3d25.0748003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x7a917805a5599c18!2zTGFtaWdv6YKj57Gz5ZOl5a605pyD5buj5aC0!5e0!3m2!1szh-TW!2stw!4v1527774890947" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <%= link_to '加入蒐藏', add_cart_path(ground), method: "post", class: "btn btn-xs" %>
        </div>
    </div>
    <%=render "comments/index" %>
  <% end %>
</div>

<div class="content	">
			<button type="button" onClick="history.back()" class="backbtn">Back</button>
			<button type="button" onClick="self.location.href='collect.html'" class="addbtn">Collect</button>
			<button type="button" onClick="location.href='http://www.hanastage.tw/'" class="connectbtn">connect</button>
			<button type="button" onClick="self.location.href='forum.html'" class="forumbtn">forum</button>
			<div class="detail">
				<div class="name"><h1>Hana展演空間</h1></div>
				<div class="introduce">
					<h2>簡介</h2>
					<p>花漾Hana展演空間為台北市首座全方位室內展演空間。</p>
					<p>場地功能齊全、設備完善、動態演出或靜態會議皆宜。</p>
					<p>適合企業行號、校園社團、機構協會來此辦理演唱會、</p>
					<p>音樂會、舞會派對、迎新聯誼、頒獎典禮、髮型秀、舞臺秀、</p>
					<p>商業走秀、浪漫婚宴、企業晚會等活動。</p>
					<p>本場地座落於青少年育樂中心內，更讓活動附有教育意義之正面形象。</p>
				</div>				
			</div>
			<div class="detail2">
				<a data-fancybox="gallery" href="IMG/hana/hana1.jpg">
   					 <img src="IMG/hana/hana1(s).jpg">
				</a>
				<a data-fancybox="gallery" href="IMG/hana/hana2.jpg">
					<img src="IMG/hana/hana2(s).jpg">
				</a>
				<a data-fancybox="gallery" href="IMG/hana/hana3.jpg">
					<img src="IMG/hana/hana3(s).jpg">
				</a>
			</div>
			<div class="detail3">
				<div class="icons">
					<img src="IMG/icon/projector.png">
					<img src="IMG/icon/computer.png">
					<img src="IMG/icon/sofa.png">
					<img src="IMG/icon/drum-set.png">
					<img src="IMG/icon/karaoke.png">
					<img src="IMG/icon/parking.png">
					<img src="IMG/icon/speaker.png">
					<img src="IMG/icon/spotlight.png">
					<img src="IMG/icon/stage.png">					
				</div>
			</div>
			<div class="detail4">
				<h2>內容</h2>
				<p>室內</p>
				<p>可容納最多700人</p>
				<h2>場地規範</h2>
				<p>場館禁用 亮粉、碎彩紙 粉、未經許可嚴禁 張貼或懸掛任何宣傳物品</p>
				<p>詳細規範請參考Hana展演空間</p>
				<h2>活動類型</h2>
				<p><strong>校園社團</strong></p>
				<p>成果發表、公演、迎新、聯誼、營隊團康、舞會派對</p>
				<p><strong>影視娛樂</strong></p>
				<p>演唱會、頒獎、典禮、交接大會、MV拍攝、舞台劇</p>
				<p><strong>商業活動</strong></p>
				<p>產品發表、活動宣傳、小型比賽、簽書會、見面會、選秀、講座</p>
				<p><strong>企業行號</strong></p>
				<p>研討會、股東會、記者會、表揚、年會、教育訓練、尾牙春酒</p>
				<h2>聯絡資訊</h2>
				<p>電話號碼：(886)2-23932058</p>
				<p>傳真號碼： 02-23419850</p>
				<p>地址：台北市中正區仁愛路一段17號10樓</p>
			</div>
			<div class="detail5">
				<h2>地理位置</h2>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8547769479696!2d121.52014281546774!3d25.039001983970024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a976fe1361a1%3A0x8126f8a368a8b255!2z6Iqx5ry-SGFuYeWxlea8lOepuumWkw!5e0!3m2!1szh-TW!2stw!4v1537799171786" width="96%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="detail6">
				<h2>評價留言</h2>
				<h5>(僅開放會員登入後使用)</h5>
				<div class="inputs">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
						<form id="message">
							<strong>我有話要說：</strong>
							<textarea class="form-control" placeholder="留下你的評論吧！"></textarea>
						</form>
					<div class="upload">
						<label class="btn btn-info">
						<input id="upload_img" style="display:none;" type="file">
						<i class="fa fa-photo"></i> 上傳圖片	
						</label>
					</div>
				</div>
			</div>
		</div>
<!--------------------TOP------------------------->
		<div class="backtotop">
			<a class="top" href="#"><img src="IMG/top-arrow.png"></a>
		</div>