<div class="content">
  <% @grounds.each do |ground| %>
		<button type="button" class="addbtn" >
			<%= link_to 'Collect', add_cart_path(ground), method: "post" %>
		</button>
		<button type="button" class="connectbtn">
			<%= link_to 'Connect' ,ground.url %>
		</button>


		<div class="detail">
      <div class="star-rating" data-score=<%= @avg_rating %> ></div>
      <em><%= "#{@comment.length} 則留言"%></em>
			<div class="name"><h1><%= ground.name %></h1></div>
			<div class="introduce">
				<h2>簡介</h2>
				<p><%= ground.description %></p>
			</div>
		</div>
		<div class="detail2">
      <% for images in ground.images_urls %>
        <a data-fancybox="gallery">
          <%= link_to image_tag(images, width: '200px',height: '250px'), ground if ground.images.present?%>
        </a>
      <% end %>
		</div>
		<div class="detail3">
			<div class="icons">
			  <%= image_tag("projector.png")%>
			  <%= image_tag("computer.png")%>
			  <%= image_tag("sofa.png")%>
			  <%= image_tag("drum-set.png")%>
			  <%= image_tag("karaoke.png")%>
			  <%= image_tag("parking.png")%>
			  <%= image_tag("speaker.png")%>
			  <%= image_tag("spotlight.png")%>
			  <%= image_tag("stage.png")%>
			</div>
		</div>
		<div class="detail4">
			<h2>內容</h2>
			<p>額外限制：<%= ground.limit %></p>

			<h2>設備</h2>
			<p><%= ground.equipment %></p>

			<h2>活動類型</h2>
			<p><%= ground.item %></p>

			<h2>優惠活動</h2>
			<p><%= ground.activity %>前下訂單，即享優惠!</p>

			<h2>聯絡資訊</h2>
			<p>電話號碼：<%= ground.tel %></p>
			<p>地址：<%= ground.location %></p>
		</div>
		<div class="detail5">
			<h2>地理位置</h2>
      <div id="map" style="width:100%;height:400px">地圖預留</div>
		</div>

		<%=render "comments/index" %>

  <% end %>
</div>
<!--------------------TOP------------------------->
<div class="backtotop">
	<a class="top" href="#"> <%= image_tag("top-arrow.png")%></a>
</div>

<%=render "shared/vendormapjs" %>
