<div class="activitycontent">
  <div id="mobile" class="container">
      <div id="searchPageLeftColumn" class="search_bar col-md-12 col-lg-3">
        <div id="searchbar">
          <div id="joinedFilterList">
          <div class="filter-list filter-list-react filter-list--vertical" data-selenium="filter-list">
            <div class="filters-header-text">
              <div style="display: block;">
                <i class="ficon ficon-filter-icon"></i>
                <p>自訂篩選</p>
              </div>
            </div>
            <div id="filtersContainerReact" class="filtersContainerReact">
              <div>
                <div class="filters-container" data-selenium="filter-container">
                  <%= form_tag search_custommade_index_path do %>
                  <ul class="filters-list">

                    <li id="dealsFilterList" class="filter-box filter-box--list dealsFilterList" data-selenium="filter-box">
                      <div class="filter-menu">
                        <span class="list-filter__title">地區</span>
                      </div>
                      <div class="filter-items">
                        <ul class="list-filter__items filter-list-item">
                          <%= render 'shared/searchregion'%>
                        </ul>
                        <div class="filter-options clearfix"></div>
                      </div>
                    </li>

                  </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div id="searchPageRightColumn" class="col-md-12 col-lg-9">
        符合條件共<%=@search%>家廠商
        <% @custommades.each do |custommade| %>
            <div class="card flex-md-row mb-3 box-shadow h-md-250 w-100">
              <%= image_tag(custommade.images_urls[0], width: '200px',height: '250px') if custommade.images.present?%>
              <div class="card-body">

                <div class="row">
                  <div class="col-6 cardleft">
                    <h3 class="mb-0 mb-3">
                      <a class="text-dark" href="#"><%= custommade.name %></a>
                    </h3>
                    <p class="card-text mb-auto">
                      <%= image_tag("house.png", width: '20px',height: '20px')%>
                      <a><%= custommade.name %></a>
                    </p>
                    <p class="card-text mb-auto">
                      <%= image_tag("marker.png", width: '20px',height: '20px')%>
                      <% if custommade.location != ""%>
                        <a><%= custommade.location.split('區').first+'區' %></a>
                      <% end %>
                    </p>
                    <p class="card-text mb-auto">
                      <%= image_tag("person.png", width: '20px',height: '20px')%>
                      <% if custommade.people_number.title != "不限人數" %>
                        <% PeopleNumber.find_by(title: custommade.people_number.title).id.upto(PeopleNumber.find_by(title: "不限人數").id-1) do |i| %>
                          <%= PeopleNumber.find(i).title %>&emsp;
                        <% end %>
                      <% else %>
                        <%= custommade.people_number.title %>
                      <% end %>
                    </p>
                  </div>

                  <div class="col-6 cardright">
                    <div class="card-text mb-auto cardscroll">
                      <a><%= custommade.description %></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cardbtn">
                <%= link_to '加入蒐藏', add_cart_path(custommade), method: "post", class: "btn" %>
                <%= link_to '詳細資訊', custommade_path(custommade,@detail) , class: "btn" %>
              </div>
            </div>
        <% end %>
        <%= will_paginate @custommades , class:"digg_pagination"%>
      </div>
  </div>
</div>
