    <%= form_tag(matter_cart_path(@costumes),method: :put)  do %>
      <% @costumes.each do |item| %>
      <div class="message1">
        <div class="row">
          <div class="col"><%= check_box_tag "item_id[]",item.product.id %></div>
          <div class="col"><%=item.product.name%></div>
          <div class="col"><%= item.product.email %></div>
          <div class="col"><%= link_to  "刪除", remove_cart_path(item.product_id), method: :put %></div>
        </div>
      </div>
      <% end %>
      <tr><td><%= submit_tag '寄信', class: "btn btn-default" %></td></tr>
    <% end %>
