  <%= form_tag(matter_cart_path(@rentcars),method: :get)  do %>
    <% @rentcars.each do |item| %>
    <div class="message1">
      <div class="card flex-md-row mb-3 box-shadow h-md-250 w-100">
        <div class="col-md-4 col-lg-3">
          <% if item.product.email != "無" && item.product.email != "" && item.product.email != "NONE" %>
            <%= check_box_tag "item_id[]",item.product.id %>
          <% end %>
          <%= image_tag('logo.png', width: '100',height: '100px')%>
        </div>

        <div class="col-md-6 col-lg-7 card-text">
          <h3><%= link_to "#{item.product.name}" , rentcar_path(item.product_id) %></h3>
          <p><%= image_tag("marker.png", width: '20px',height: '20px')%> <%= item.product.location %></p>
          <p><%= image_tag("telephone.png", width: '20px',height: '20px')%> <%= item.product.tel %></p>
          <p><%= image_tag("mail.png", width: '20px',height: '20px')%> <%= item.product.email.split('"')[1] %></p>
        </div>

        <div class="col-md-2 col-lg-2 trace_delete">
          <button><%=link_to image_tag('cancel.png'), remove_cart_path(item.product_id), method: :put %></button>
        </div>
      </div>
    </div>
    <% end %>
    <div class="cartbtn">
      <%= submit_tag '寄信', class: "btn" %>
    </div>
  <% end %>
