<div class="cart_content">
  <div class="container">
  <div class="sub_title">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active">
        <button class="click_log" id="Selfbtn" onclick="openCategory('Self'),changeColor('Selfbtn')">自行輸入</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
        <button class="click_log" id="Formbtn" onclick="openCategory('Form'),changeColor('Formbtn')">表格</button>
        </a>
      </li>
    </ul>
  </div>

<div id="Self" class="categor">
  <div class="cartform">
      <h3>輸入信件內容</h3>
      <%= simple_form_for matter_cart_path(@item_id) , :url => {:action => :matter_send }, remote: true  do |f| %>
        <div class="form-inputs">
          <%= f.input :email, label: "聯絡信箱：", readonly: true, :input_html => { :value => "#{current_user.email}" } %>
          <% if @product.count > 1 %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
              <label class="form-check-label" for="Radios1">
                統一信件內容
              </label></br>
               <%= f.input :mattertext, label: "信件內容：" , input_html: {id: "mattertext"},placeholder: '請輸入信件內容'%>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
              <label class="form-check-label" for="Radios2">
                分開信件內容
              </label></p>
              <% @product.each do |product| %>
                給<%= product.name %>的信件內容：
                <input name="<%= product.id %>" id="<%= product.id %>" class="form-control string required" disabled /> </p>
              <% end %>
            </div>
          <% else %>
            <%= f.text_area :mattertext, label: "信件內容：", placeholder: '請輸入信件內容', class: 'textinput'%>
          <% end %>
          <%= f.file_field :images, multiple: true, name: "#{matter_cart_path(@item_id)}[images][]"%>

        </div>
        <div class="form-actions">
          <%= f.button :submit,"寄出" %>
          <%= f.button :submit,"預覽" ,{:remote => true , 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %>
        </div>
      <% end %>
    </div>
</div>

<div id="Form" class="categor" style="display:none">
    <div class="cartform">
    <% case @category %>
      <% when 1 %>
        <%= render "carts/matter_form/ground"%>
      <% when 2 %>
        <%= render "carts/matter_form/food"%>
      <% when 3 %>
        <%= render "carts/matter_form/rentcar"%>
      <% when 4 %>
        <%= render "carts/matter_form/equipment"%>
      <% when 5 %>
        <%= render "carts/matter_form/custommade"%>
      <% when 6 %>
        <%= render "carts/matter_form/costume"%>
    <% end %>
    </div>

</div>

</div>
</div>
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="modal fade" id="FM_modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script>
function openCategory(categoryName) {
  var i;
  var x = document.getElementsByClassName("categor");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  document.getElementById(categoryName).style.display = "block";
}
function changeColor(btnName) {
  var x = document.getElementsByClassName("click_log");
  for (i = 0; i < x.length; i++) {
     x[i].style.color = "black";
  }
  document.getElementById(btnName).style.color = "TEAL";
}
document.getElementById('Radios2').onchange = function() {
  '<% @product.each do |product| %>'
  document.getElementById('<%= product.id %>').disabled = !this.checked;
  '<% end %>'
  document.getElementById('mattertext').disabled = true;
};
document.getElementById('Radios1').onchange = function() {
  '<% @product.each do |product| %>'
  document.getElementById('<%= product.id %>').disabled = true ;
  '<% end %>'
  document.getElementById('mattertext').disabled = !this.checked;
};
document.getElementById('FM_Radios2').onchange = function() {
  '<% @product.each do |product| %>'
  document.getElementById('FM_<%= product.id %>').disabled = !this.checked;
  '<% end %>'
  document.getElementById('memo').disabled = true;
};
document.getElementById('FM_Radios1').onchange = function() {
  '<% @product.each do |product| %>'
  document.getElementById('FM_<%= product.id %>').disabled = true ;
  '<% end %>'
  document.getElementById('memo').disabled = !this.checked;
};
</script>
