<div class="content">
	<p>
    Download:
    <%= link_to 'CSV',  cart_path(format: "csv") %>
    <%= link_to 'Excel', cart_path(format: "xls") %>
  </p>
<div class="sub_menu">
	<%=image_tag('mycollect.png',width: '90%')%>
	<div class="sub_title">
		<div><button class="click_log" id="Groundbtn" onclick="openCategory('Ground'),changeColor('Groundbtn')"><%=image_tag('map.png', size: '20')%>場地</button></div>
		<div><button class="click_log" id="Foodbtn" onclick="openCategory('Food'),changeColor('Foodbtn')"><%=image_tag('fork.png', size: '20')%>食物</button></div>
		<div><button class="click_log" id="Rentcarbtn" onclick="openCategory('Rentcar'),changeColor('Rentcarbtn')"><%=image_tag('bus.png', size: '20')%>租車</button></div>
		<div><button class="click_log" id="Equipmentbtn" onclick="openCategory('Equipment'),changeColor('Equipmentbtn')"><%=image_tag('monitor.png', size: '20')%>設備</button></div>
		<div><button class="click_log" id="Custommadebtn" onclick="openCategory('Custommade'),changeColor('Custommadebtn')"><%=image_tag('poster.png', size: '20')%>印刷</button></div>
		<div><button class="click_log" id="Costumebtn" onclick="openCategory('Costume'),changeColor('Costumebtn')"><%=image_tag('shirt.png', size: '20')%>舞台服</button></div>
	</div>
</div>
<div id="Ground" class="categor">
  <div class="container">
    <% if @grounds != []%>
      <%= render "ground" %>
    <% end %>
  </div>
</div>

<div id="Food" class="categor" style="display:none">
  <div class="container">
    <% if @foods != []%>
      <%= render "food" %>
    <% end %>
  </div>
</div>

<div id="Rentcar" class="categor" style="display:none">
  <div class="container">
    <% if @rentcars != []%>
      <%= render "rentcar" %>
    <% end %>
  </div>
</div>

<div id="Equipment" class="categor" style="display:none">
  <div class="container">
    <% if @equipments != []%>
      <%= render "equipment" %>
    <% end %>
  </div>
</div>

<div id="Custommade" class="categor" style="display:none">
  <div class="container">
    <% if @custommade != []%>
      <%= render "custommade" %>
    <% end %>
  </div>
</div>

<div id="Costume" class="categor" style="display:none">
  <div class="container">
    <% if @costumes != []%>
      <%= render "costume" %>
    <% end %>
  </div>
</div>

</div>


<script>
function openCategory(categoryName) {
  var i;
  var x = document.getElementsByClassName("categor");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  document.getElementById(categoryName).style.display = "block";
}
function changeColor(btnName) {
  var x = document.getElementsByClassName("click_log");
  for (i = 0; i < x.length; i++) {
     x[i].style.color = "black";
  }
  document.getElementById(btnName).style.color = "TEAL";
}
</script>
