<div class="devise_content">
  <h3 class="devise_title">會員登入</h3>
  <div class=" grid-container">
    <div class="login">
      <div class="devise_inputs">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary" %>
      </div>
      <% end %>
      <div class="devise_link">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
