<h1>編輯外燴廠商</h1>

<%= form_for(@food) do |f| %>
    <%= f.label :name, "名稱" %>
    <%= f.text_field :name %> <br />
    
    <%= f.label :introduction, "簡介" %>
    <%= f.text_area :introduction %> <br />
    
    <%= f.label :location, "地址" %>
    <%= f.text_field :location %> <br />
    
    <%= f.label :image, "圖片" %>
    <%= f.file_field :image %>
    
    <%= f.submit %>
<% end %>