</br>
<div class="container mt-5">
  <%= form_tag '/foods/search' do %>
    <div>
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">地區</label>
      <%= select_tag 'region', options_for_select(@regions.collect{ |region| [region.title, region.id] }) %>
    </div>
    <div>
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref"> 人數</label>
      <%= select_tag 'people_number', options_for_select(@people_numbers.collect{ |people_number| [people_number.title, people_number.id] }) %>

    </div>
  <%= submit_tag "Search" %>
  <% end %>
  <% @foods.each do |food| %>
    <div class="row">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 w-100">
        <% for images in food.images_urls %>
          <li class="selected">
            <td><%= link_to image_tag(images, width: '200px',height: '250px'), food if food.images.present?%></td>
          </li>
        <% end %>
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0 mb-3">
            <a class="text-dark" href="#"><%= food.name %></a>
          </h3>
          <p class="card-text mb-auto">聯絡電話：<%= food.tel %></p>
          <p class="card-text mb-auto">信箱：<%= food.email %></p>
          <p class="card-text mb-auto">地址：<%= food.location %></p>
          <%= link_to '詳細資訊', food_path(food,@detail) , class: "btn btn-xs" %>
          <%= link_to '加入蒐藏', add_cart_path(food), method: "post", class: "btn btn-xs" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
