<div class="card container">
  <% @foods.each do |food| %>
    <div class="row">
        <div class="col-3 py-2 pl-5">
            <%= link_to image_tag(food.image_url, width: '200px',height: '200px'), food if food.image.present?%>
        </div>
        <div class="col-9">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0 mb-3">
                <a class="text-dark" href="#"><%= food.name %></a>
              </h3>
              <p class="card-text mb-auto"><%= food.description %></p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="flex-md-row mb-4 box-shadow h-md-250 w-100">
            <div class="card-body d-flex flex-column align-items-start">
                <p class="card-text mb-auto">聯絡電話：<%= food.tel %></p>
                <p class="card-text mb-auto">信箱：<%= food.email %></p>
                <br/>
                <p>地理位置</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1806.8995086327466!2d121.683066!3d25.0748003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x7a917805a5599c18!2zTGFtaWdv6YKj57Gz5ZOl5a605pyD5buj5aC0!5e0!3m2!1szh-TW!2stw!4v1527774890947" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-9">
            <%= link_to '加入蒐藏', add_cart_path(food), method: "post", class: "btn btn-default btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row mx-3">
      <h3 class="ml-3 mb-3">相關評論</h3>
      <div class="card flex-md-row mb-4 box-shadow h-md-250 w-100">
        <a href="http://icons.iconarchive.com/icons/hopstarter/soft-scraps/256/User-Executive-Blue-icon.png"></a>
        <img class="ml-3 mt-3" style="width: 50px; height: 50px;"
        src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-128.png" data-holder-rendered="true">
        <div class="card-body">
          <h5 class="mb-0 mb-3">
            <a class="text-dark" href="#">Leo：</a>
          </h5>
          <p class="card-text mb-auto">超讚的服務~~</p>
        </div>
      </div>
      <div class="card flex-md-row mb-4 box-shadow h-md-250 w-100">
        <a href="http://icons.iconarchive.com/icons/hopstarter/soft-scraps/256/User-Executive-Blue-icon.png"></a>
        <img class="ml-3 mt-3" style="width: 50px; height: 50px;"
        src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" data-holder-rendered="true">
        <div class="card-body">
          <h5 class="mb-0 mb-3">
            <a class="text-dark" href="#">Alex：</a>
          </h5>
          <p class="card-text mb-auto">CP值高，超讚的服務!</p></p>
        </div>
      </div>
    </div>
</div>
