<div class="activitycontent">
  <div id="mobile" class="container">
      <div id="searchPageLeftColumn" class="search_bar col-md-12 col-lg-3">
        <div id="searchbar">
          關鍵字：<%= @keywords %>
          <div id="joinedFilterList">
          <div class="filter-list filter-list-react filter-list--vertical" data-selenium="filter-list">
            <a style="color: #fff; text-decoration: none" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
            <div class="filters-header-text">
              <div style="display: block;">
                <i class="ficon ficon-filter-icon"></i>
                <p>自訂篩選</p>
              </div>
            </div>
            </a>
            <div id="collapseExample2">
              <div>
                <div class="filters-container" data-selenium="filter-container">
                  <%= form_tag '/searches/search' do %>
                  <ul class="filters-list">

                    <li id="dealsFilterList" class="filter-box filter-box--list dealsFilterList" data-selenium="filter-box">
                      <div class="filter-menu">
                        <span class="list-filter__title">廠商類別</span>
                      </div>
                      <div class="filter-items">
                        <ul class="list-filter__items filter-list-item">
                          <%= render 'shared/searchcategory'%>
                        </ul>
                        <div class="filter-options clearfix"></div>
                      </div>
                    </li>

                    <li id="dealsFilterList" class="filter-box filter-box--list dealsFilterList" data-selenium="filter-box">
                      <div class="filter-menu">
                        <span class="list-filter__title">地區</span>
                      </div>
                      <div class="filter-items">
                        <ul class="list-filter__items filter-list-item">
                          <%= render 'shared/searchregion'%>
                        </ul>
                        <div class="filter-options clearfix"></div>
                      </div>
                    </li>

                    <li id="dealsFilterList" class="filter-box filter-box--list dealsFilterList" data-selenium="filter-box">
                      <div class="filter-menu">
                        <span class="list-filter__title">人數</span>
                      </div>
                      <div class="filter-items">
                        <ul class="list-filter__items filter-list-item">
                          <%= render 'shared/searchpeople'%>
                        </ul>
                        <div class="filter-options clearfix"></div>
                      </div>
                    </li>

                    <li id="dealsFilterList" class="filter-box filter-box--list dealsFilterList" data-selenium="filter-box">
                      <div class="filter-menu">
                        <span class="list-filter__title">活動類型</span>
                      </div>
                      <div class="filter-items">
                        <ul class="list-filter__items filter-list-item">
                          <%= render 'shared/searchactivity'%>
                        </ul>
                        <div class="filter-options clearfix"></div>
                      </div>
                    </li>

                  </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div id="searchPageRightColumn" class="col-md-12 col-lg-9">
        符合條件共<%=@search%>家廠商
        <% @products.each do |product| %>
            <div class="card flex-md-row mb-3 box-shadow h-md-250 w-100">
              <%= image_tag(product.images_urls[0], width: '200px',height: '250px') if product.images.present?%>
              <div class="card-body">

                <div class="row">
                  <div class="col-6 cardleft">
                    <h3 class="mb-0 mb-3">
                      <a class="text-dark" href="#"><%= product.name %></a>
                    </h3>
                    <p class="card-text mb-auto">
                      <%= image_tag("house.png", width: '20px',height: '20px')%>
                      <a><%= product.name %></a>
                    </p>
                    <p class="card-text mb-auto">
                      <%= image_tag("marker.png", width: '20px',height: '20px')%>
                      <% if product.location != ""%>
                        <a><%= product.location.split('區').first+'區' %></a>
                      <% end %>
                    </p>
                    <p class="card-text mb-auto">
                      <%= image_tag("person.png", width: '20px',height: '20px')%>
                      <a><%= product.people_number.title %></a>
                    </p>
                  </div>

                  <div class="col-6 cardright">
                    <div class="card-text mb-auto cardscroll">
                      <a><%= product.description %></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cardbtn">
                <%= link_to '加入蒐藏', add_cart_path(product), method: "post", class: "btn" %>
                <%= link_to '詳細資訊', search_path(product,@detail) , class: "btn" %>
              </div>
            </div>
        <% end %>
        <%= will_paginate @products , class:"digg_pagination"%>
      </div>
  </div>
</div>
