</br>
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name  ,label: "廠商名稱：" %>
    地區：</br>
    <%= f.collection_check_boxes :region_ids, Region.all, :id, :title, { multiple: true }  %></p>
    活動類型：</br>
    <%= f.collection_check_boxes :activity_kind_ids, ActivityKind.all, :id, :title, { multiple: true }  %></p>
    圖片（必填!!!!!!）：
    <%= f.file_field :images, multiple: true, name: "product[images][]" %></p>
    <%= f.association :category, label: "類別：" %>
    <%= f.association :people_number, label: "人數：" %>
    <%= f.input :description ,label: "廠商介紹：" %>
    <%= f.input :tel ,label: "聯絡電話：" %>
    <%= f.input :email ,label: "聯絡信箱：" %>
    <%= f.input :item ,label: "產品項目："  %>
    <%= f.input :location ,label: "地址：" %>
    <%= f.input :url, label: "網站連結："  %>
    <%= f.input :equipment, label: "設備："  %>
    <%= f.input :limit, label: "限制條件（廠規、里程數、件數..）："  %>
    <%= f.input :activity, label: "優惠活動（注意日期）："  %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="Budget" id="Budget1" value="三小時/一小時(續)/一天" checked>
      <%= f.input :budget, label: "三小時/一小時(續)/一天：" ,placeholder: "2000,600,7000", input_html: {id: "budget1"} %>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="Budget" id="Budget2" value="按時段收費" >
      <%= f.input :budget, label: "最低時段收費：" ,placeholder: "08:00~12:00,4,8000", input_html: {id: "budget2",disabled: true} %>
      預算圖片：
      <%= f.file_field :images, multiple: true, name: "product[budget_images][]" %></p>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="Budget" id="Budget3" value="每小時/每人" >
      <%= f.input :budget, label: "每小時/每人：" ,placeholder: "100", input_html: {id: "budget3",disabled: true}  %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %></p>
  </div>
<% end %>

<%= form_tag '/gmaps/new',method: 'get' do %>
  地址：（請先update或create廠商資料在轉換經緯度！！否則寫不進資料庫也不會有提示錯誤～～～）</p>
  <input name="ConstructionADD" type="text" id="ConstructionADD" size="50" maxlength="50"/>
  <botton  type="submit" class="btn" onClick="codeAddress()">轉換經度及緯度</botton>
  <input name="Longitude" type="text" id="Longitude" size="10" maxlength="10" readonly="readonly"/>
  <input name="Latitude" type="text" id="Latitude" size="10" maxlength="9" readonly="readonly"/>
<%end%>

<script type="text/javascript">
document.getElementById('Budget2').onchange = function() {
  document.getElementById('budget2').disabled = !this.checked;
  document.getElementById('budget1').disabled = true;
  document.getElementById('budget3').disabled = true;
};
document.getElementById('Budget1').onchange = function() {
  document.getElementById('budget2').disabled = true ;
  document.getElementById('budget3').disabled = true ;
  document.getElementById('budget1').disabled = !this.checked;
};
document.getElementById('Budget3').onchange = function() {
  document.getElementById('budget2').disabled = true ;
  document.getElementById('budget1').disabled = true ;
  document.getElementById('budget3').disabled = !this.checked;
};
function codeAddress(){
var add = document.getElementById("ConstructionADD");
var long = document.getElementById("Longitude");
var lat = document.getElementById("Latitude");
var geocoder = new google.maps.Geocoder();
geocoder.geocode( { address: add.value}, function(results, status) {
if (status == google.maps.GeocoderStatus.OK) {
Longitude.value = results[0].geometry.location.lng();
Latitude.value = results[0].geometry.location.lat();
$.ajax({
  type: "get",
  url: "/gmaps/new",
  data: {"long": Longitude.value, "lat": Latitude.value, "address": add.value},
  });
} else {
alert("Geocode was not successful for the following reason: " + status);}
});
}
</script>
