</br>
</br>
</br>
<h1>Products</h1>

<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openCategory('Ground')">場地</button>
  <button class="w3-bar-item w3-button" onclick="openCategory('Food')">食物</button>
  <button class="w3-bar-item w3-button" onclick="openCategory('Rentcar')">租車</button>
  <button class="w3-bar-item w3-button" onclick="openCategory('Equipment')">設備</button>
  <button class="w3-bar-item w3-button" onclick="openCategory('Custommade')">印刷</button>
  <button class="w3-bar-item w3-button" onclick="openCategory('Costume')">舞台服</button>
</div>

<div id="Ground" class="w3-container categor">
  <h2>場地：</h2>
    <% if @grounds != []%>
      <%= render "ground" %>
    <% end %>
</div>

<div id="Food" class="w3-container categor" style="display:none">
  <h2>食物：</h2>
    <% if @foods != []%>
      <%= render "food" %>
    <% end %>
</div>

<div id="Rentcar" class="w3-container categor" style="display:none">
  <h2>租車：</h2>
    <% if @rentcars != []%>
      <%= render "rentcar" %>
    <% end %>
</div>

<div id="Equipment" class="w3-container categor" style="display:none">
  <h2>設備：</h2>
    <% if @equipments != []%>
      <%= render "equipment" %>
    <% end %>
</div>

<div id="Custommade" class="w3-container categor" style="display:none">
  <h2>印刷：</h2>
    <% if @custommade != []%>
      <%= render "custommade" %>
    <% end %>
</div>

<div id="Costume" class="w3-container categor" style="display:none">
  <h2>舞台服：</h2>
    <% if @costumes != []%>
      <%= render "costume" %>
    <% end %>
</div>


<br>

<%= link_to 'New Product', new_product_path %>


<script>
function openCategory(categoryName) {
    var i;
    var x = document.getElementsByClassName("categor");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(categoryName).style.display = "block";
}
</script>
