<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @product.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @product.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Region:</strong>
  <%= @product.region_ids %>
</p>

<p>
  <strong>Activity kind:</strong>
  <%= @product.activity_kind %>
</p>

<p>
  <strong>People number:</strong>
  <%= @product.people_number %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
